{% load wagtailimages_tags %}

<!-- Cards Block -->
<div class="row justify-content-center">
  {% for card in self.cards %}
    <div class="col-md-6 d-flex align-items-stretch{% if not forloop.first %} mt-4 mt-md-0{% endif %}">
      <div class="card mb-3 text-center">
        {% if card.link.url %}<a href="{{ card.link.url }}">{% endif %}
          <picture>
            {% image card.image fill-570x370 as img %}
            <img src="{{ img.url }}" class="card-img-top" alt="{{ img.alt }}">
          </picture>
        {% if card.link.url %}</a>{% endif %}
        <div class="card-body py-3 px-3">
          {% if card.link.url %}<a href="{{ card.link.url }}">{% endif %}
            <h5 class="card-title">
              {{ card.title }}
            </h5>
            {% if card.text %}
              <p class="card-text">{{ card.text }}</p>
            {% endif %}
          {% if card.link.url %}</a>{% endif %}

          <p class="card-text">
            {% if card.link.url %}<a href="{{ card.link.url }}" class="btn btn-link d-inline">{% endif %}
              {{ card.link.link_text }}
            {% if card.link.url %}</a>{% endif %}
          </p>

        </div>
      </div>
    </div>
  {% endfor %}
</div>
<!-- End Cards Block -->
